<% if user_signed_in? %> 
    <%= link_to "ホーム", home_path%>
    <br>
    <%= "こんにちは、" %>
    <%= link_to current_user.email, users_show_path %>
    <br>
    <%= link_to "ログアウト", destroy_user_session_path, :method=>'delete'%>
<% else %>
    <%= link_to "ホーム", home_path%>
    <%= link_to "サインイン", new_user_session_path %>
    <%= link_to 'ユーザ登録', new_user_registration_path %>
<% end %>
<br>
<hr>
<br>
<h1>HOME PAGE</h1>
<%= link_to '本一覧を見る', books_path %>
